* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#header {
  background: #000;
  height: 90px;
}
#header .header--general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--general h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
#header .header--general nav {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

#hero {
  background: #000;
}
#hero .hero--general {
  margin-right: 30px;
}
#hero .hero--general h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}
#hero .hero--general h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}
#hero .hero--general p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
#hero .hero--general__image2 {
  position: absolute;
  z-index: 100;
  margin-left: 100px;
  width: 397px;
  height: 600px;
  left: 390px;
}
#hero .hero--general__image {
  position: relative;
  margin-left: 240px;
  width: 346px;
  height: 632px;
  left: 52px;
}
#hero .hero--general__block {
  margin-left: 190px;
}
#hero .hero--general__image3 {
  margin-left: 1200px;
}
#hero .hero--general__image4 {
  margin-left: 1300px;
}
#hero .hero--general__click {
  margin-left: 700px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#hero .hero--general__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
#hero .hero--general__title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#hero .hero--general__title3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--general__title9 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#about {
  background: #000;
}
#about .about--general h4 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #F1B864;
  padding-top: 60px;
  margin-bottom: 30px;
}
#about .about--general h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
#about .about--general__click {
  padding-top: 59px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 350px;
}
#about .about--general h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}
#about .about--general__btn {
  margin-left: 1000px;
  width: 220px;
  height: 50px;
  background: #FE8B46;
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  transition: 0.4s;
}
#about .about--general__btn:hover {
  transform: scale(1.2);
}
#about .swiper {
  width: 100%;
  height: 100%;
}
#about .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#about .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#support {
  padding-top: 30px;
  background: #000;
}
#support .support--general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#support .support--general__block {
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.57);
  border-radius: 15px;
  padding-top: 30px;
}
#support .support--general__block__click {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#support .support--general__block--click2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#support .support--general__btn2 {
  margin-left: 500px;
  width: 220px;
  height: 50px;
  background: rgba(254, 139, 70, 0.12);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}
#support .support--general__btn2:hover {
  transform: scale(1.2);
}
#support .support--general2 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#support .support--general2__block {
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.75);
}
#support .support--general2__block__click {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#product {
  padding-top: 100px;
  background: #000;
}
#product .product--general__title1 {
  margin-bottom: 70px;
}
#product .product--general__title1 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #F1B864;
  text-align: center;
}
#product .product--general__title1 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
#product .product--general__block {
  width: 411px;
  height: 91px;
  box-shadow: 0 3px 13px #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product .product--general__block--click h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
#product .product--general__block--click h4 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
#product .product--general__block p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #21D605;
}
#product .product--general--click2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #21D605;
}
#product .product--general__title {
  display: flex;
  align-items: center;
  lighting-color: saddlebrown;
  margin-bottom: 30px;
}
#product .product--general__title2 {
  display: flex;
  align-items: center;
  lighting-color: saddlebrown;
  margin-bottom: 30px;
}
#product .product--general__title3 {
  display: flex;
  align-items: center;
  lighting-color: saddlebrown;
}
#product .product--general__title4 {
  display: flex;
  align-items: center;
  lighting-color: saddlebrown;
}
#product .product--general--image {
  padding-top: 100px;
}

#work {
  background: #000;
}
#work .work--general h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #F1B864;
  text-align: center;
  padding-top: 100px;
}
#work .work--general h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
#work .work--general__title {
  padding-top: 90px;
}

#will {
  background: #000;
}
#will .will--general__click {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#will .will--general__click p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #D29C10;
}

/*# sourceMappingURL=style.css.map */
